#breweries-list {
    display: flex;
    justify-content: center;
    background: azure;
    height: 10rem;
    padding: 5rem;
}

#brew-span {
    background: white;

}

#brewery-info {
    border: 3rem;
}